@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Confirm Event Move</title>
    <style type="text/css">
        body {
            font-family: Tahoma, Arial, sans-serif;
            font-size: 10pt;
        }
    </style>
</head>
<body>
    <div>

        Czy chcesz edytować tylko ten blok, czy całą serię?

        <div><label for="this"><input type="radio" name="result" value="this" id="this" checked="checked" /> Tylko blok</label></div>
        <div><label for="series"><input type="radio" name="result" value="series" id="series" /> Całą serię</label></div>

        <div style="margin-top:10px">
            <button onclick="javascript:clicked(selected());">Potwierdź</button>
            <button onclick="javascript:clicked('cancel');">Anuluj</button>
        </div>

    </div>
    <script type="text/javascript">

    function selected() {
        if (document.getElementById("this").checked) {
            return "this";
        }
        return "series";
    }

    function clicked(result) {
        if (parent && parent.DayPilot && parent.DayPilot.ModalStatic) {
            parent.DayPilot.ModalStatic.close(result);
        }
    }

    </script>

</body>
</html>
