@{
    ViewBag.Title = "Potwierdzenie rejestracji";
}

<div class="col-md-offset-0-5 col-md-4regt">
    <h2>@ViewBag.Title.</h2>
</div>
<br style="clear: both;">
<div class="col-md-offset-0-5 col-md-8regcon">
    <p>
        Pomyślnie zarejestrowano nowego pracownika. @Html.ActionLink("Powrót na stronę główną.", "Index", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
<br style="clear: both;">
