@{
    ViewBag.Title = "O aplikacji";
}
<div class="col-md-offset-0-5 col-md-4tittlewst">
    <h2>@ViewBag.Title.</h2>
</div>

<br style="clear: both;">
<hr />

<div class="col-md-offset-0-5">
    <p>Informacje na temat aplikacji.</p>
</div>

